@model ArSpFi.Models.Reserva

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<h2 class="text-dark h2" style="font-family: 'AhaWow';">Formulario de Reservacion</h2>

@*<hr />*@
<div class="col-md-6 text-primary">
    <label asp-for="CodReserva" class="control-label" style="font-family: 'AhaWow'">Codigo Reservacion </label>
</div>


<div class="row">
   
    <div class="col-md-8">
        <form asp-action="Create" class=" row m-lg-3 text-dark">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-6">
                <label asp-for="NombCliente" class="control-label" style="font-family: 'AhaWow';"></label>
                <div class="input-group form-group">

                    <input asp-for="NombCliente" class="form-control" />
                    <span asp-validation-for="NombCliente" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <label asp-for="CorreoCliente" class="control-label" style="font-family: 'AhaWow';"></label>
                <div class="input-group form-group">

                    <input asp-for="CorreoCliente" class="form-control" />
                    <span asp-validation-for="CorreoCliente" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <label asp-for="TelefonoCliente" class="control-label" style="font-family: 'AhaWow';"></label>
                <div class="input-group form-group">

                    <input asp-for="TelefonoCliente" class="form-control" />
                    <span asp-validation-for="TelefonoCliente" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <label asp-for="TipoTour" class="control-label" style="font-family: 'AhaWow';"></label>
                <div class="form-group">

                    <select asp-for="TipoTour" class="form-control">
                        <option value="value"></option>
                        <option value="Pesca en la Costa">Pesca en la Costa</option>
                        <option value="Pesca en Altamar">Pesca en Altamar</option>
                        <option value="Isla Tortuga">Isla Tortuga</option>
                    </select>
                    @*<input asp-for="TipoTour" class="form-control" />*@
                    <span asp-validation-for="TipoTour" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <label asp-for="FechaReservacion" class="control-label" style="font-family:'AhaWow'"></label>
                <div class="form-group">

                    <input type="date" asp-for="FechaReservacion" class="form-control" />
                    <span asp-validation-for="FechaReservacion" class="text-danger"></span>
                </div>

            </div>

            <div class="col-md-6">
                <label asp-for="Duracion" class="control-label" style="font-family: 'AhaWow';"></label>
                <div class="input-group form-group">

                    <select asp-for="Duracion" class="form-control">
                        <option value="value"></option>
                        <option value="Medio Día">Medio Día</option>
                        <option value="Día Completo">Día Completo</option>
                    </select>
                    @*<input asp-for="Duracion" class="form-control" />*@
                    <span asp-validation-for="Duracion" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <label asp-for="CantPasajeros" class="control-label" style="font-family: 'AhaWow';"></label>
                <div class="input-group form-group">
                    <input asp-for="CantPasajeros" class="form-control" />
                    <span asp-validation-for="CantPasajeros" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <label asp-for="Yate" class="control-label" style="font-family: 'AhaWow';"></label>
                <div class="input-group form-group">

                    <select asp-for="Yate" class="form-control">
                        <option value="value"></option>
                        <option value="Deportista">Deportista</option>
                        <option value="Viking">Viking</option>
                    </select>
                    @*<input asp-for="Yate" class="form-control" />*@
                    <span asp-validation-for="Yate" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <label asp-for="Estado" class="control-label"></label>
                <div class="input-group form-group">

                    <input asp-for="Estado" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            </div>

            @*<input type="hidden" asp-for="Estado" />
                <input type="hidden" asp-for="FkUsuario" />*@
            <div class="col-md-6">
                <label asp-for="FkUsuario" class="control-label"></label>
                <div class="input-group form-group">
                    <select asp-for="FkUsuario" class="form-control" asp-items="ViewBag.FkUsuario"></select>
                </div>
            </div>

            <div class="form-group" style="margin-left:550px">
                <input type="submit" value="Enviar" class="btn btn-default" style="font-family: 'AhaWow';" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
