@model ArSpFi.Models.Mensaje

@{
    ViewData["Title"] = "Home Page";
}


<div class="wrapper row2">
    <div class="text-center">
        <h1 class="display-1" style="font-family:'Astral Delight'; padding-top:100px;">ARGUEDAS FISHING</h1>
    </div>
    <div class="text-center">
        <h1 class="display-3 text-center text-secondary" style="font-family:'Astral Delight'; padding-top:30px;">Costa Rica</h1>
    </div>
</div>


<div class="wrapper row3" style="margin-top:280px;>
    <!-- <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="group">
        <div class="one_third first"><a href="#"></a></div>
        <div class="two_third">
            <div class="btmspace-50" style="width:900px">
                <h3 class="display-4" style="font-family: 'a Aha Wow'">Pesca Deportiva en Costa Rica</h3>
                <p class="nospace h3" style="font-family:serif">
                    Costa Rica debido a su posicion geográfica, hace que albergue lugares de primer nivel en pesca deportiva.
                    Cuando se trata de pesca deportiva hay pocos lugares que se asemejan a Costa Rica. Famosa mundialmente tanto por sus
                    Marlins como por organizar torneos internacionales como el Annual World Billfish Series Championship y
                    el Billfish Series Los Sueños Signature.
                </p>
            </div>
            <ul class="fa-ul clear">
                <li class="one_half first">

                    <h6 class="heading btmspace-10 font-x1">
                        <a class="text-primary h2" href="https://igfa.org/igfa-world-records-search/?search_type=CountryName&search_term_1=Costa+Rica">Records Mundiales</a>
                    </h6>
                    <p class="h4" style="font-family:'Global Serif'">En Costa Rica hay un registro por 84 records mundiales de la IGFA (Asociación Internacional de Pesca Deportiva).</p>
                </li>
                <li class="one_half">

                    <h6 class="heading btmspace-10 font-x1"><a class="text-danger h2" href="#">Costa Pacifica</a></h6>
                    <p style="font-family:'Global Serif'" class="h4">
                        La pesca en la costa pacífica de Costa Rica ofrece una gran variedad de peces y en la cual,
                        cualquier epoca del año es propicia para pescar.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
    <!-- </main>-->
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!--  Carrusel-------------------------------------------------------------------------------------------------->

<section id="carousel">
    <div id="carousel-home" class="carousel slide" data-ride="carousel">
        <div class="text-center d-block p-2 bg-dark text-white shadow-lg p-3 mb-5">
            <h2 class="display-4" style="font-family: AhaWow; margin-bottom:0px; margin-top:20px">Tour Isla Tortuga</h2>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-home" data-slide-to="1"></li>
            <li data-target="#carousel-home" data-slide-to="2"></li>
            <li data-target="#carousel-home" data-slide-to="3"></li>
            <li data-target="#carousel-home" data-slide-to="4"></li>

        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 img-responsive" src="images/Islatortuga.jpg" alt="">
                <div class="carousel-caption">
                    <h1 style="font-family: AhaWow;" class="text-body bg-light text-dark"></h1>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100 img-responsive" src="images/costa-rica-isla-tortuga-02.jpg" alt="">
                <div class="carousel-caption">
                    <h1 style="font-family: AhaWow;" class="text-body bg-light text-success"></h1>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100 img-responsive" src="images/tortuga2.jpg" alt="">
                <div class="carousel-caption">
                    <h1 style="font-family: AhaWow;" class="text-body bg-light text-dark">SNORKEL</h1>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100 img-responsive" src="images/large.png" alt="">
                <div class="carousel-caption">
                    <h1 style="font-family: AhaWow;"><p class="text-body bg-light text-primary">KAYAK</p></h1>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 img-responsive" src="images/slide-01.jpg" alt="">
                <div class="carousel-caption">
                    <h1 style="font-family: AhaWow;"><p class="text-body bg-light text-primary"></p></h1>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carousel-home" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carousel-home" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>

</section>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">

    <section id="Especies" style="height:860px;">
        <div class="contenido-seccion">
            <div class="container">
                <div class="col-md-12">
                    <div class="text-center d-block p-2 bg-dark text-white shadow-lg p-3 mb-5">
                        <h2 class="display-4" style="font-family: AhaWow; margin-bottom:0px">ESPECIES DE MAR ABIERTO ( OFF SHORE )</h2>
                    </div>
                    <br>

                    <div class="card-deck">
                        <div class="card mb-3" style="width: 18rem; margin-top: 0px;height: 495px;">
                            <img class="card-img-top" src="images/pezvela.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" style=" font-family: AstralB;">PEZ VELA - SAILFISH</h5>
                                <p class="card-text" style="font-family: 'Evil Dead'">
                                    Es considerado uno de los depredadores más hábiles de las aguas cálidas y sin
                                    lugar a dudas, el más rápido,pueden llegar a nadar a velocidades cercanas a los 120 km/h.
                                    Temporada de pesca es de noviembre hasta abril
                                </p>
                                <a href="https://igfa.org/igfa-world-records-search/?search_type=SpeciesID&search_term_1=65"
                                   class="text-danger" style="font-family:AhaWow;">Registro Mundial 221 lbs</a>
                            </div>
                        </div>

                        <div class="card mb-3" style="width: 18rem; margin-top: 0px; height: 495px;">
                            <img class="card-img-top" src="images/Marlinazul.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" style=" font-family: AstralB;">MARLIN BLUE</h5>
                                <p class="card-text" style="font-family:'Evil Dead'">
                                    Estos extraños monstruos marinos, conocidos por luchar ferozmente cuando pican
                                    el anzuelo, son el santo grial de los pescadores deportivos, pueden alcanzar casi 4,5 metros de
                                    longitud y pesar más de 900 kilogramos.Aunque en la actualidad no están en peligro, los
                                    conservacionistas temen que estén siendo objeto de pesca no sostenible
                                </p>
                                <a href="https://igfa.org/igfa-world-records-search/?search_type=SpeciesID&search_term_1=63"
                                   class="text-danger" style="font-family:AhaWow;">Registro Mundial 1376 lbs</a>
                            </div>
                        </div>

                        <div class="card mb-3" style="width: 18rem; margin-top: 0px; height: 495px;">
                            <img class="card-img-top" src="images/marlinnegro.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" style=" font-family: AstralB;">BLACK MARLIN</h5>
                                <p class="card-text" style="font-family:'Evil Dead'">
                                    Uno de los peces mas buscado por los pescadores del mundo debido a su gran
                                    combatividad a la hora de ser enganchado. Viven en los mares cálidos y es una especie común
                                    en el Pacífico,la temporada propicia para pescarlo: julio a septiembre.
                                </p>
                                <a href="https://igfa.org/igfa-world-records-search/?search_type=SpeciesID&search_term_1=161"
                                   class="text-danger" style="font-family:AhaWow;">Registro Mundial 1560 lbs</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>

    <section>
        <div class="contenido-seccion" style="padding-top:0px; padding-bottom:0px;">
            <div class="container">
                <div class="col-md-12">

                    <div class="card-deck">

                        <div class="card mb-3" style="width: 18rem; margin-top: 0px;height: 595px;">
                            <img class="card-img-top" src="images/dorado.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" style=" font-family: AstralB;">DORADO O MAHI MAHI</h5>
                                <p class="card-text" style="font-family:'Evil Dead'">
                                    Considerado un pez increíble y vistoso por sus colores y su particular forma de
                                    atacar las presas, es siempre una excelente captura para los pescadores deportivos, es famoso por
                                    sus saltos sobre la superficie cuando está enganchado. La temporada va de noviembre hasta marzo.
                                </p>
                                <a href="https://igfa.org/igfa-world-records-search/?search_type=SpeciesID&search_term_1=69"
                                   class="text-danger" style="font-family:AhaWow;">Registro Mundial 87 lbs</a>
                            </div>
                        </div>

                        <div class="card mb-3" style="width: 18rem; margin-top: 0px;height: 595px;">
                            <img class="card-img-top" src="images/atun.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" style=" font-family: AstralB;">ATUN ALETA AMARILLA</h5>
                                <p class="card-text" style="font-family:'Evil Dead'">
                                    Es una de las especies de túnidos más grandes del mundo: alcanza un peso de más
                                    de 180 kilogramos y más de 200 centímetros de largo, se considera un pez deportivo y es muy buscado
                                    por los pescadores y pescadores comerciales por igual. Después de golpear un señuelo o cebo, a menudo
                                    profundizan y lucharán con gran poder y tenacidad.Temporada de noviembre hasta agosto
                                </p>
                                <a href="https://igfa.org/igfa-world-records-search/?search_type=SpeciesID&search_term_1=60"
                                   class="text-danger" style="font-family:AhaWow;">Registro Mundial 427 lbs</a>
                            </div>
                        </div>

                        <div class="card mb-3" style="width: 18rem; margin-top: 0px;height: 595px;">
                            <img class="card-img-top" src="images/WAHOO.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" style=" font-family: AstralB;">WAHOO</h5>
                                <p class="card-text" style="font-family:'Evil Dead'">
                                    Siendo dentados y con fama de tener una mordida poderosa, es recomendable el
                                    uso de un buen líder,son más grandes los ejemplares del pacífico que del atlántico y no solo de
                                    ésta especie, sino de muchas otras. La lucha salvaje se caracteriza por varias carreras, generalmente
                                    en o cerca de la superficie.
                                </p>
                                <a href="https://igfa.org/igfa-world-records-search/?search_type=SpeciesID&search_term_1=61"
                                   class="text-danger" style="font-family:AhaWow;">Registro Mundial 184 lbs</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section id="NearShore">
        <div class="contenido-seccion" style="padding-top:0px;">
            <div class="container" style="padding-top:0px;">
                <div class="col-md-12">
                    <div class="text-center d-block p-2 bg-dark text-white shadow-lg p-3 mb-5">
                        <h3 class="display-4" style="font-family: AhaWow; margin-bottom:0px">ESPECIES DE LA COSTA ( IN SHORE )</h3>
                    </div>
                    <br>
                    <div class="card-deck">
                        <div class="card mb-3" style="width: 18rem; margin-top: 0px;height: 555px;">
                            <img class="card-img-top" src="images/Rooster_underwater.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" style=" font-family: AstralB;">PEZ GALLO</h5>
                                <p class="card-text" style="font-family:'Evil Dead'">
                                    Estos luchadores son muy fuertes a menudo se pueden encontrar cerca de las olas,
                                    las aves que vuelan en círculos y las aguas costeras.Temporada de Julio a Agosto.
                                </p>
                                <a href="https://igfa.org/igfa-world-records-search/?search_type=SpeciesID&search_term_1=194"
                                   class="text-danger" style="font-family:AhaWow;">Registro Mundial 114 lbs</a>
                            </div>
                        </div>

                        <div class="card mb-3" style="width: 18rem; margin-top: 0px;height: 555px;">
                            <img class="card-img-top" src="images/pargor.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" style=" font-family: AstralB;">PARGO ROJO</h5>
                                <p class="card-text" style="font-family:'Evil Dead'">
                                    Todas las especies de pargos ofrecen al pescador una batalla desafiante,
                                    especialmente cuando se enganchan en aparejos ligeros. Son luchadores duros que, una vez
                                    enganchados, hacen fuertes movimientos de cabeza en la parte inferior, la temporada propicia
                                    para pescarlo: julio agosto y noviembre diciembre.
                                </p>
                                <a href="https://igfa.org/igfa-world-records-search/?search_type=SpeciesID&search_term_1=226"
                                   class="text-danger" style="font-family:AhaWow;">Registro Mundial 78 lbs CR</a>
                            </div>
                        </div>

                        <div class="card mb-3" style="width: 18rem; margin-top: 0px;height: 555px;">
                            <img class="card-img-top" src="images/robaloazul.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" style=" font-family: AstralB;">ROBALO</h5>
                                <p class="card-text" style="font-family:'Evil Dead'">
                                    Se le conoce por su gran fuerza, y sus capacidades que tiene para la lucha,
                                    lo que hace de él un excelente contendor. Una gran cantidad de peces róbalos  de veinte kilogramos
                                    de peso han sido capturados en los últimos años en la costa, pero el peso máximo que se ha
                                    establecido en treinta kilogramos, suelen aparecer entre los meses de abril y octubre.
                                </p>
                                <a href="https://igfa.org/igfa-world-records-search/?search_type=CommonName&search_term_1=Snook,%20Pacific&search_term_2=Costa%20Rica"
                                   class="text-danger" style="font-family:AhaWow;">Registro Mundial 59 lbs</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>


    <section id="Charters">
        <div class="contenido-seccion">
            <div class="container" style="padding-top:0px;">
                <div class="col-md-12">
                    <div class="text-center d-block p-2 bg-dark text-white shadow-lg p-3 mb-5">
                        <h2 class="display-4" style="font-family: AhaWow; margin-bottom:0px">YATES</h2>
                    </div>
                    <br>
                    <!---  Deck  ---------------------------------------------------------------------------------------------->
                    <div class="card-deck">

                        <!-- VIKING LUXURY  ------------------------------------>

                        <div class="card text-white bg-dark mb-3" style="width: 30rem;">
                            <h1 class="card-title text-center h2" style="font-family: AhaWow; padding-top:15px">Viking Luxury</h1>
                            <img class="card-img-top" src="~/images/Viking.jpg" alt="Card image cap">
                            <div class="card-body">



                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Viking"
                                        style="font-family: AhaWow;">
                                    INFO
                                </button>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Reservar"
                                        style="font-family: AhaWow;">
                                    RESERVAR
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="Viking" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header bg-info">
                                                <h3 class="modal-title" id="exampleModalCenterTitle"
                                                    style="font-family: AhaWow;">
                                                    VIKING LUXURY
                                                </h3>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-dark">
                                                <p class="font-weight-normal" style="font-family:'Evil Dead'">
                                                    Aire acondicionado en interior, TV de 42" vía satélite DVD y sistema de
                                                    sonido Bose, 3 camarotes, 1 camas Queen y 1 litera con 2 camas individuales, refrigerador de
                                                    tamaño completo, horno de microondas, área de comedor y salón, hasta 10 pasajeros, $3000 día
                                                    completo.
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                        style="font-family: AhaWow;">
                                                    CERRAR
                                                </button>
                                                <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal"
                                                        asp-controller="Reservas" asp-action="Create" style="font-family: AhaWow;">
                                                    RESERVAR
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--- END MODAL  ---------------------------------------------------------------------------------->
                            </div>
                        </div>

                        <!----  DEPORTISTA  --------------------------->

                        <div class="card text-white bg-dark mb-3" style="width: 30rem;">
                            <h1 class="card-title text-center h2" style="font-family: AhaWow; padding-top:15px">Deportista</h1>
                            <img class="card-img-top" src="~/images/Deportista.jpg" alt="Card image cap">
                            <div class="card-body">


                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Deportista"
                                        style="font-family: AhaWow;">
                                    INFO
                                </button>


                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-success" data-toggle="modal" asp-controller="Reservas" asp-action="Create"
                                        style="font-family: AhaWow;">
                                    RESERVAR
                                </button>

                                <!-- Modal INFO----------->
                                <div class="modal fade" id="Deportista" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header bg-info">
                                                <h3 class="modal-title" id="exampleModalCenterTitle" style="font-family: AhaWow;">DEPORTISTA</h3>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-dark">
                                                <p class="font-weight-normal" style="font-family:'Evil Dead'">
                                                    Motor fuera de borda individual, velocidad de crucero de 26kt, Radio VHF,
                                                    cañas personalizadas, carretes Shimano, Capitán de Costa Rica, $1000 día completo, $575 medio
                                                    día.
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                        style="font-family: AhaWow;">
                                                    CERRAR
                                                </button>
                                                <button type="button" class="btn btn-success" data-dismiss="modal"
                                                        data-toggle="modal" data-target="#Reservar" style="font-family: AhaWow;">
                                                    RESERVAR
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    
                    <br>
                    <!-----  END Deck1 --------------------------------------------------------------------------------------------->
                </div>
            </div>
        </div>
    </section>


    <!-- ################################################################################################ -->
    <div class="wrapper">
        <section id="contact" class="hoc container clear">

            <div class="text-center d-block p-2 bg-primary text-white shadow-lg p-3 mb-5">
                <h3 class="nospace display-4" style="font-family: AhaWow;">Contactenos</h3>
            </div>
            <!-- ################################################################################################ -->
            <!--<div class="one_quarter first"><a class="btn" href="#">Contactanos</a></div>-->

            <form asp-action="Create" style="font-family: AhaWow;">
                <!--<div class="three_quarter"> -->


                <div class="col-md-4">
                    <label asp-for="NombreMensaje" class="control-label" style="margin-top:20px">NOMBRE COMPLETO</label>
                    <input asp-for="NombreMensaje" type="text" class="form-control" style="font-family: Arial" placeholder="Nombre y Apellido">
                </div>
                <div class="col-md-4">
                    <label asp-for="EmailMensaje" class="form-label" style="margin-top:20px">CORREO</label>
                    <input asp-for="EmailMensaje" type="text" class="form-control" rows="3" style="font-family: Arial" placeholder="Email">
                </div>
                <div class="col-md-6">
                    <label asp-for="Comentario" class="form-label" style="margin-top:20px">MENSAJE</label>
                    <textarea asp-for="Comentario" class="form-control" id="exampleFormControlTextarea1" rows="3" style="font-family: Arial">...</textarea>
                </div>
                @*<div class="one_quarter first" style="padding-top:20px;"><a class="btn" href="#">Enviar</a></div>*@
                <button type="button" onclick="" class="btn btn-info text-white" style="font-family: AhaWow; margin-top: 20px;">Enviar</button>

                <!--</div>-->
            </form>
            <!-- ################################################################################################ -->
        </section>
    </div>
</div>

<div class="wrapper row5 ">
    <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="one_quarter first" style="font-family: 'AhaWow'">
            <h6 class="title" style="font-family: 'AhaWow'">Locacion</h6>
            <address class="btmspace-30">
                Puntarenas,<br>
                Costa Rica<br>
            </address>

        </div>
        <div class="one_quarter">
            <h6 class="title" style="font-family: 'AhaWow'">Informacion</h6>
            <ul class="nospace" style="font-family: 'AhaWow'">
                <li class="btmspace-10"><i class="fa fa-phone"></i>CR: +506 6040 5011</li>
                <li class="btmspace-10"><i class="fa fa-phone"></i>USA: +1 (504) 232 0847</li>
                <li><i class="fa fa-envelope-o"></i> info@arguedasfishing.com</li>
            </ul>
        </div>
        <div class="one_quarter" style="font-family: 'AhaWow'">
            <h6 class="title" style="font-family: 'AhaWow'">Links</h6>
            <ul class="nospace linklist">
                <li><a href="https://www.incopesca.go.cr/">Incopesca</a></li>
                <li><a href="https://es.fishcostarica.org/">FECOP</a></li>
                <li><a href="https://igfa.org/">IGFA</a></li>
            </ul>
        </div>
        <div class="one_quarter" style="font-family: 'AhaWow'">
            <h6 class="title" style="font-family: 'AhaWow'">Mas..</h6>
            <ul class="nospace linklist">
                <li><a href="https://www.ict.go.cr/es/">ICT-Instituto Costarricense de Turismo</a></li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </footer>
</div>
<div class="wrapper row5" style="font-family: 'AhaWow'">
     <div id="copyright" class="hoc clear" style="font-family: 'AhaWow'">
       <p class="fl_left">Copyright &copy; @DateTime.Now.Year - All Rights Reserved - <a>Arguedas Fishing</a></p>
     </div>
</div>
